
body {
    font-family: sans-serif;
    background-image:url('./istockphoto-1218473959-170667a.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    justify-content: center;
  }
  .container {
    padding: 20px ;
}

.container {
  padding: 20px ;
  align-items: center;
}

header{
    background-color:#a9c5c7;
    padding: 20px;
    font-size: medium;
  }

.center{
    text-align: center;
    justify-content: space-around;
    padding-left: 7%;
    padding-right: 7%;
    color: black;
  }
  .upper-center{
    margin-top: 50px;
    text-align: center;
}

  @media (max-width:816px){
    .col-4{
        max-width: 100%;
    }
    p{
        padding-top:5%;
    }
} 


.visible{
  visibility: visible;
}

.hidden{
  visibility: hidden;

}

.button {
  border: rgba(248, 245, 247, 0.808) solid 1px;
  border-radius: 10px;
  margin: 10px;
  align-content: center;
  color: black;

}
.btn-info:hover {
  background-color:#a9c5c7;
  border: #203a3c solid 1px;
  margin-bottom: 10px;
}

.btn-info{
  background-color: #a9c5c7;
  margin-bottom: 10px;
  color: black;
}

.btn-info:hover {
  background-color:#a9c5c7;
  border: #203a3c solid 1px;
}